.base{
    position: relative;
}

.bottom {
    height: 10px;
    width: 250px;
    background-color: black;
}

.middle {
    width: 10px;
    height: 400px;
    background-color: black;
    margin-left: 120px;
}

.top {
    height: 10px;
    width: 200px;
    background-color: black;
    margin-left: 120px;
}

.down {
    position: absolute;
    width: 10px;
    height: 50px;
    background-color: black;
    top: 0;
    right: 0;
}

.head {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 10px solid black;
    position: absolute;
    top: 50px;
    right: -30px;
}

.body {
    width: 10px;
    height: 100px;
    background: black;
    position: absolute;
    top: 120px;
    right: 0;
}

.right-arm {
    width: 100px;
    height: 10px;
    background: black;
    position: absolute;
    top: 150px;
    right: -100px;
    transform: rotate(-30deg);
    transform-origin: left bottom;
}

.left-arm {
    width: 100px;
    height: 10px;
    background: black;
    position: absolute;
    top: 150px;
    right: 10px;
    transform: rotate(30deg);
    transform-origin: right bottom;
}

.right-leg {
    width: 100px;
    height: 10px;
    background: black;
    position: absolute;
    top: 210px;
    right: -90px;
    transform: rotate(60deg);
    transform-origin: left bottom;
}

.left-leg {
    width: 100px;
    height: 10px;
    background: black;
    position: absolute;
    top: 210px;
    right: 0;
    transform: rotate(-60deg);
    transform-origin: right bottom;
}

